root = true

[*.java]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
max_line_length = 140
trim_trailing_whitespace = true
insert_final_newline = true

[*.kt]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
max_line_length = 140

[*.kts]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
max_line_length = 140
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,yaml,json,md,xml}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
trim_trailing_whitespace = true
insert_final_newline = true
